In [0]:
import numpy as np
import pandas as pd

In [0]:
a=pd.Series(np.random.random(10))

In [0]:
a

0    0.813840
1    0.219053
2    0.524690
3    0.228024
4    0.798264
5    0.421573
6    0.291547
7    0.331767
8    0.003454
9    0.081748
dtype: float64

In [0]:
colnames=['col1','col2','col3','col4']
b=pd.DataFrame(np.random.random((10,4)), columns=colnames)
b

       col1      col2      col3      col4
0  0.864976  0.285916  0.592848  0.091138
1  0.125905  0.427203  0.077556  0.098851
2  0.956712  0.109989  0.742141  0.310809
3  0.105062  0.855423  0.814390  0.984373
4  0.748606  0.614505  0.772715  0.795482
5  0.960052  0.381200  0.967794  0.187755
6  0.318325  0.576606  0.977650  0.506194
7  0.233534  0.743730  0.904644  0.627549
8  0.110614  0.517760  0.791156  0.319661
9  0.618559  0.991835  0.336702  0.214779

In [0]:
pd.DataFrame(range(10))

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [0]:
[[j for j in range(i,i+5)] for i in range(10)]

[[0, 1, 2, 3, 4],
 [1, 2, 3, 4, 5],
 [2, 3, 4, 5, 6],
 [3, 4, 5, 6, 7],
 [4, 5, 6, 7, 8],
 [5, 6, 7, 8, 9],
 [6, 7, 8, 9, 10],
 [7, 8, 9, 10, 11],
 [8, 9, 10, 11, 12],
 [9, 10, 11, 12, 13]]

In [0]:
pd.DataFrame([[j for j in range(i,i+5)] for i in range(10)])

   0   1   2   3   4
0  0   1   2   3   4
1  1   2   3   4   5
2  2   3   4   5   6
3  3   4   5   6   7
4  4   5   6   7   8
5  5   6   7   8   9
6  6   7   8   9  10
7  7   8   9  10  11
8  8   9  10  11  12
9  9  10  11  12  13

In [0]:
dct={'a':[1,2,3],'b':list('sdf'),'c':(3,4,'r')}

In [0]:
dct

{'a': [1, 2, 3], 'b': ['s', 'd', 'f'], 'c': (3, 4, 'r')}

In [0]:
pd.DataFrame(dct)

   a  b  c
0  1  s  3
1  2  d  4
2  3  f  r

In [0]:
dct={'a':[1,2,3],'b':set('sdf'),'c':(3,4,'r')}
pd.DataFrame(dct)

   a          b  c
0  1  {s, d, f}  3
1  2  {s, d, f}  4
2  3  {s, d, f}  r

In [0]:
pd.DataFrame(dct).T

           0          1          2
a          1          2          3
b  {s, d, f}  {s, d, f}  {s, d, f}
c          3          4          r

In [0]:
df=pd.DataFrame(dct)

In [0]:
df.T

           0          1          2
a          1          2          3
b  {s, d, f}  {s, d, f}  {s, d, f}
c          3          4          r

In [0]:
pd.DataFrame.from_dict(dct,orient='index')

   0  1  2
a  1  2  3
b  s  d  f
c  3  4  r

In [0]:
dct={'a':[1,2,3],'b':set('sdfq'),'c':(3,4,'r')}

pd.DataFrame.from_dict(dct,orient='index')

   0  1  2     3
a  1  2  3  None
b  q  s  d     f
c  3  4  r  None

In [0]:
pd.DataFrame([[j for j in range(i,i+5)] for i in range(10)], index=list('qwertzuiop'),columns=list('asdfg'))

   a   s   d   f   g
q  0   1   2   3   4
w  1   2   3   4   5
e  2   3   4   5   6
r  3   4   5   6   7
t  4   5   6   7   8
z  5   6   7   8   9
u  6   7   8   9  10
i  7   8   9  10  11
o  8   9  10  11  12
p  9  10  11  12  13

In [0]:
colnames = ['LotSize','Neighborhood','YearBuilt','Quality','SalePrice']
house_dict = {'Baker House': [7420, 'BrkSide', 1939, 5, 118000],
              'Beazley House': [14115, 'Mitchel', 1993, 5, 143000],
              'Dominguez House': [14260, 'NoRidge', 2000, 8, 250000],
              'Hamilton House': [6120, 'OldTown', 1931, 7, 129900],
              'James House': [11250, 'CollgCr', 2001, 7, 223500],
              'Martinez House': [9600, 'Veenker', 1976, 6, 181500],
              'Roberts House': [9550, 'Crawfor', 1915, 7, 140000],
              'Smith House': [8450, 'CollgCr', 2003, 7, 208500],
              'Snyder House': [10084, 'Somerst', 2004, 8, 307000],
              'Zuckerman House': [10382, 'NWAmes', 1973, 7, 200000]}

In [0]:
df=pd.DataFrame(house_dict, index=colnames).T

In [0]:
#df.columns=colnames
df

                LotSize Neighborhood YearBuilt Quality SalePrice
Baker House        7420      BrkSide      1939       5    118000
Beazley House     14115      Mitchel      1993       5    143000
Dominguez House   14260      NoRidge      2000       8    250000
Hamilton House     6120      OldTown      1931       7    129900
James House       11250      CollgCr      2001       7    223500
Martinez House     9600      Veenker      1976       6    181500
Roberts House      9550      Crawfor      1915       7    140000
Smith House        8450      CollgCr      2003       7    208500
Snyder House      10084      Somerst      2004       8    307000
Zuckerman House   10382       NWAmes      1973       7    200000

In [0]:
df=pd.DataFrame.from_dict(house_dict,orient='index',columns=colnames)

In [0]:
df

                LotSize Neighborhood YearBuilt Quality SalePrice
Baker House        7420      BrkSide      1939       5    118000
Beazley House     14115      Mitchel      1993       5    143000
Dominguez House   14260      NoRidge      2000       8    250000
Hamilton House     6120      OldTown      1931       7    129900
James House       11250      CollgCr      2001       7    223500
Martinez House     9600      Veenker      1976       6    181500
Roberts House      9550      Crawfor      1915       7    140000
Smith House        8450      CollgCr      2003       7    208500
Snyder House      10084      Somerst      2004       8    307000
Zuckerman House   10382       NWAmes      1973       7    200000

In [0]:
df['Neighborhood']['Zuckerman House']

'NWAmes'

In [0]:
df['Neighborhood']

Baker House        BrkSide
Beazley House      Mitchel
Dominguez House    NoRidge
Hamilton House     OldTown
James House        CollgCr
Martinez House     Veenker
Roberts House      Crawfor
Smith House        CollgCr
Snyder House       Somerst
Zuckerman House     NWAmes
Name: Neighborhood, dtype: object

In [0]:
df[['Neighborhood']] # same as previous but as DataFrame instead of Serie

                Neighborhood
Baker House          BrkSide
Beazley House        Mitchel
Dominguez House      NoRidge
Hamilton House       OldTown
James House          CollgCr
Martinez House       Veenker
Roberts House        Crawfor
Smith House          CollgCr
Snyder House         Somerst
Zuckerman House       NWAmes

In [0]:
df.Neighborhood

Baker House        BrkSide
Beazley House      Mitchel
Dominguez House    NoRidge
Hamilton House     OldTown
James House        CollgCr
Martinez House     Veenker
Roberts House      Crawfor
Smith House        CollgCr
Snyder House       Somerst
Zuckerman House     NWAmes
Name: Neighborhood, dtype: object

In [0]:
df[['LotSize','YearBuilt']]

                LotSize YearBuilt
Baker House        7420      1939
Beazley House     14115      1993
Dominguez House   14260      2000
Hamilton House     6120      1931
James House       11250      2001
Martinez House     9600      1976
Roberts House      9550      1915
Smith House        8450      2003
Snyder House      10084      2004
Zuckerman House   10382      1973

In [0]:
df.iloc[2]

LotSize           14260
Neighborhood    NoRidge
YearBuilt          2000
Quality               8
SalePrice        250000
Name: Dominguez House, dtype: object

In [0]:
df.loc['Dominguez House']

LotSize           14260
Neighborhood    NoRidge
YearBuilt          2000
Quality               8
SalePrice        250000
Name: Dominguez House, dtype: object

In [0]:
df

                LotSize Neighborhood YearBuilt Quality SalePrice
Baker House        7420      BrkSide      1939       5    118000
Beazley House     14115      Mitchel      1993       5    143000
Dominguez House   14260      NoRidge      2000       8    250000
Hamilton House     6120      OldTown      1931       7    129900
James House       11250      CollgCr      2001       7    223500
Martinez House     9600      Veenker      1976       6    181500
Roberts House      9550      Crawfor      1915       7    140000
Smith House        8450      CollgCr      2003       7    208500
Snyder House      10084      Somerst      2004       8    307000
Zuckerman House   10382       NWAmes      1973       7    200000

In [0]:
df.iloc[2,1]

'NoRidge'

In [0]:
C11
R11C3

In [0]:
iloc[11,3]
loc[11,'C']

In [0]:
import os

In [0]:
os.chdir('../../Slides/vehicles/vehicles/')

In [0]:
df1=pd.read_csv('vehicles.csv')

In [0]:
df1.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [0]:
df2=pd.read_csv('vehicles_pipe.txt', sep='|')

In [0]:
df2.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [0]:
df3=pd.read_csv('vehicles_tab.txt', sep='\t')

In [0]:
df3.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [0]:
df2=pd.read_csv('vehicles_pipe.txt', sep='monkey') # just to show that it also coul be used

<ipython-input-75-129dc06674c7>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  df2=pd.read_csv('vehicles_pipe.txt', sep='monkey')

In [0]:
df2.head()

  Make|Model|Year|Engine Displacement|Cylinders|Transmission|Drivetrain|Vehicle Class|Fuel Type|Fuel Barrels/Year|City MPG|Highway MPG|Combined MPG|CO2 Emission Grams/Mile|Fuel Cost/Year
0  AM General|DJ Po Vehicle 2WD|1984|2.5|4.0|Auto...
1  AM General|FJ8c Post Office|1984|4.2|6.0|Autom...
2  AM General|Post Office DJ5 2WD|1985|2.5|4.0|Au...
3  AM General|Post Office DJ8 2WD|1985|4.2|6.0|Au...
4  ASC Incorporated|GNX|1987|3.8|6.0|Automatic 4-...

In [0]:
df4=pd.read_json('vehicles.json')

In [0]:
df4.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [0]:
df4.to_json('new_json.json', orient='index')

In [0]:
!pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in /home/Mauritian/.local/lib/python3.8/site-packages (0.9.3)

In [0]:
!pip install SQLAlchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy in /home/Mauritian/.local/lib/python3.8/site-packages (1.3.15)

In [0]:
import pymysql
from sqlalchemy import create_engine

In [0]:
username='root'
host='localhost'
database='publications'
password='password'

In [0]:
'mysql+pymysql://root:password@localhost/publications'

In [0]:
engine=create_engine(f'mysql+pymysql://{username}:{password}@{host}/{database}')

In [0]:
data=pd.read_sql_query('SELECT * FROM employee', engine)

In [0]:
data.head()

      emp_id    fname minit      lname  job_id  job_lvl pub_id  hire_date
0  A-C71970F     Aria             Cruz      10       87   1389 1991-10-26
1  A-R89858F  Annette           Roulet       6      152   9999 1990-02-21
2  AMD15433F      Ann     M      Devon       3      200   9952 1991-07-16
3  ARD36773F  Anabela     R  Domingues       8      100   0877 1993-01-27
4  CFH28514M   Carlos     F   Hernadez       5      211   9999 1989-04-21

In [0]:
data.to_sql('employee2',engine, if_exists='replace',index=False)